In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
df = pd.read_excel('public_imoveis_spiunet_150122.xlsx')

In [4]:
df.head()

,UF,Município,Rip Imóvel,Nº/RIP Utilização,Endereço,Bairro,CEP,Natureza do Terreno,Matrícula,Nome do Cartório,...,Proprietário Oficial,Cód. UG/CPF/CNPJ do Resp.,Responsável/UG,Data do Cadastro do Imóvel,Área do Terreno (m²),Valor da Utilização (R$),Valor Contabilizado (R$),Área Construída (m²),Longitude,Latitude
0,AC,Acrelandia,643000275001.00,0643000285007,GLB GLEBA SÃO JORGE II C - ÚNICA (PARTE). S/N,-,69945000,Rural,00000513,Serventias Extrajudiciais Da Comarca De Acrelâ...,...,Fundação ou Autarquia (Adm. Pub. Fed. indireta),373015,Instit. Nac. de Colonizacao e Reforma Agraria,2021-08-12,45723200.00,10391478.46,10391478.46,0.00,-,-
1,AC,Acrelandia,643000255000.00,0643000265006,GLB GLEBA EUCLIDES DA CUNHA FIGURA 01 (PARTE)....,-,69945000,Rural,00003061,1 OFICIO PORTO,...,Fundação ou Autarquia (Adm. Pub. Fed. indireta),373015,Instit. Nac. de Colonizacao e Reforma Agraria,2021-08-12,29313632.00,6662087.74,6662087.74,0.00,-,-
2,AC,Acrelandia,643000235000.00,0643000245005,FAZ FAZENDA/SERINGAL SN PAD PEDRO PEIXOTO,ZONA RURAL,69945000,Rural,00004475,CRI COMARCA SENADOR GUIOMARD,...,Fundação ou Autarquia (Adm. Pub. Fed. indireta),373015,Instit. Nac. de Colonizacao e Reforma Agraria,2019-08-28,2962438722.00,425826866.78,425826866.78,0.00,-,-
3,AC,Acrelandia,643000215009.00,0643000225004,GLB GLEBA PORTO LUIZ II SN PA PORTO LUIZ II,ZONA RURAL,69945000,Rural,00000846,CRI SERVENTIA DE IMÓVEIS COMARCA DE ACRELÂNDIA,...,Fundação ou Autarquia (Adm. Pub. Fed. indireta),373015,Instit. Nac. de Colonizacao e Reforma Agraria,2019-08-28,14049665.00,1205124.06,1205124.06,0.00,-,-
4,AC,Acrelandia,643000195008.00,0643000205003,GLB PORTO LUIZ I. S/N PDS PORTO LUIZ I,-,69945000,Rural,00000847,CRI DA COMARCA DE ACRELANDIA,...,Fundação ou Autarquia (Adm. Pub. Fed. indireta),373015,Instit. Nac. de Colonizacao e Reforma Agraria,2018-10-18,95063875.00,13664671.52,13664671.52,0.00,-,-

Drop de colunas que não são importantes/interessantes para realizar a previsão.

In [5]:
df.drop(['Rip Imóvel', 'Nº/RIP Utilização', 'Endereço', 'Matrícula', 'Nome do Cartório', 
'Cód. UG/CPF/CNPJ do Resp.', 'Proprietário Oficial', 'Responsável/UG', 'Data do Cadastro do Imóvel', 'Regime de Utilização', 
'Longitude', 'Latitude', 'Valor Contabilizado (R$)'], axis=1, inplace=True)

In [6]:
df.head()

,UF,Município,Bairro,CEP,Natureza do Terreno,Data de Registro no Cartório,Tipo de Imóvel,Área do Terreno (m²),Valor da Utilização (R$),Área Construída (m²)
0,AC,Acrelandia,-,69945000,Rural,2004-06-25 00:00:00,Gleba,45723200.00,10391478.46,0.00
1,AC,Acrelandia,-,69945000,Rural,1979-02-10 00:00:00,Gleba,29313632.00,6662087.74,0.00
2,AC,Acrelandia,ZONA RURAL,69945000,Rural,2001-11-22 00:00:00,Fazenda,2962438722.00,425826866.78,0.00
3,AC,Acrelandia,ZONA RURAL,69945000,Rural,2004-06-25 00:00:00,Gleba,14049665.00,1205124.06,0.00
4,AC,Acrelandia,-,69945000,Rural,2004-06-25 00:00:00,Gleba,95063875.00,13664671.52,0.00

Processamento da Data de Registro.

In [7]:
df['Data de Registro no Cartório'] = pd.to_datetime(df['Data de Registro no Cartório'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [8]:
df['Data_Ano'] = df['Data de Registro no Cartório'].dt.year
df.drop(['Data de Registro no Cartório'], axis=1, inplace=True)

In [9]:
df.head()

,UF,Município,Bairro,CEP,Natureza do Terreno,Tipo de Imóvel,Área do Terreno (m²),Valor da Utilização (R$),Área Construída (m²),Data_Ano
0,AC,Acrelandia,-,69945000,Rural,Gleba,45723200.00,10391478.46,0.00,2004.00
1,AC,Acrelandia,-,69945000,Rural,Gleba,29313632.00,6662087.74,0.00,1979.00
2,AC,Acrelandia,ZONA RURAL,69945000,Rural,Fazenda,2962438722.00,425826866.78,0.00,2001.00
3,AC,Acrelandia,ZONA RURAL,69945000,Rural,Gleba,14049665.00,1205124.06,0.00,2004.00
4,AC,Acrelandia,-,69945000,Rural,Gleba,95063875.00,13664671.52,0.00,2004.00

Drop de linhas que possuam valores nulos.

In [10]:
df = df.dropna()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57578 entries, 0 to 60073
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   UF                        57578 non-null  object
 1   Município                 57578 non-null  object
 2   Bairro                    57578 non-null  object
 3   CEP                       57578 non-null  object
 4   Natureza do Terreno       57578 non-null  object
 5   Tipo de Imóvel            57578 non-null  object
 6   Área do Terreno (m²)      57578 non-null  float64
 7   Valor da Utilização (R$)  57578 non-null  float64
 8   Área Construída  (m²)     57578 non-null  float64
 9   Data_Ano                  57578 non-null  float64
dtypes: float64(4), object(6)
memory usage: 4.8+ MB

Achamos melhor realizar um modelo com uma tripla filtragem (UF -> Município -> Bairro), pois dados categóricos, como as UF's, os Municípios, Bairros e CEP's são bem complicados de serem processados pelo modelo preditivo, existem algumas alternativas, como realizar um [One Hot Encoding](https://www.educative.io/blog/one-hot-encoding), ou um [Ordinal Encoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html), porém, um One Hot Encoding, para pelos menos todos os bairros de certo município e os CEP's, iria gerar um dataset com MUITAS colunas (mais de 1000), e isso é muito ruim para o modelo analisar, e além disso, o Ordinal Encoder também é bem ruim, quando existem muitos valores, então fazer essa filtragem foi a melhor alternativa.

In [12]:
df['Bairro'].value_counts()

-                       8267
CENTRO                  3886
ZONA RURAL              3228
ASA NORTE               3220
Centro                  2691
                        ...
Comunidade Superagui       1
Ilha de Superagui          1
Baía dos Pinheiros         1
Cerquinho                  1
Pesqueira                  1
Name: Bairro, Length: 6490, dtype: int64

Identifico a ASA NORTE como o bairro que possui mais imóveis (quanto mais imóveis, mais o modelo será preciso).

In [13]:
df[df['Bairro']=='ASA NORTE'].head()

,UF,Município,Bairro,CEP,Natureza do Terreno,Tipo de Imóvel,Área do Terreno (m²),Valor da Utilização (R$),Área Construída (m²),Data_Ano
7137,DF,Brasilia,ASA NORTE,70845110,Urbano,Apartamento,771.48,208810.93,78.75,1991.00
7147,DF,Brasilia,ASA NORTE,70756130,Urbano,Apartamento,132.46,219072.46,136.46,2004.00
7148,DF,Brasilia,ASA NORTE,70756130,Urbano,Apartamento,1704.00,219072.46,131.52,2004.00
7149,DF,Brasilia,ASA NORTE,70756040,Urbano,Apartamento,1032.00,411985.29,270.82,1998.00
7155,DF,Brasilia,ASA NORTE,70830200,Urbano,Terreno,5520.00,1017888.00,0.00,1978.00

In [14]:
df_asanorte = df[(df['UF'] == 'DF') & (df['Município'] == 'Brasilia') & (df['Bairro'] == 'ASA NORTE')]

In [15]:
df_asanorte.head()

,UF,Município,Bairro,CEP,Natureza do Terreno,Tipo de Imóvel,Área do Terreno (m²),Valor da Utilização (R$),Área Construída (m²),Data_Ano
7137,DF,Brasilia,ASA NORTE,70845110,Urbano,Apartamento,771.48,208810.93,78.75,1991.00
7147,DF,Brasilia,ASA NORTE,70756130,Urbano,Apartamento,132.46,219072.46,136.46,2004.00
7148,DF,Brasilia,ASA NORTE,70756130,Urbano,Apartamento,1704.00,219072.46,131.52,2004.00
7149,DF,Brasilia,ASA NORTE,70756040,Urbano,Apartamento,1032.00,411985.29,270.82,1998.00
7155,DF,Brasilia,ASA NORTE,70830200,Urbano,Terreno,5520.00,1017888.00,0.00,1978.00

In [16]:
df_asanorte.drop(['UF', 'Município', 'Bairro'], axis=1, inplace=True)

In [17]:
df_asanorte.head()

,CEP,Natureza do Terreno,Tipo de Imóvel,Área do Terreno (m²),Valor da Utilização (R$),Área Construída (m²),Data_Ano
7137,70845110,Urbano,Apartamento,771.48,208810.93,78.75,1991.00
7147,70756130,Urbano,Apartamento,132.46,219072.46,136.46,2004.00
7148,70756130,Urbano,Apartamento,1704.00,219072.46,131.52,2004.00
7149,70756040,Urbano,Apartamento,1032.00,411985.29,270.82,1998.00
7155,70830200,Urbano,Terreno,5520.00,1017888.00,0.00,1978.00

Passo os CEP's e o Tipo de Imóvel para o One Hot Encoding

In [18]:
df_asanorte = pd.get_dummies(df_asanorte, columns=['CEP', 'Tipo de Imóvel'])

Como a Natureza é binária, só precisa transformar para 0 e 1

In [19]:
natureza = {'Urbano':0, 'Rural':1}
df_asanorte['Natureza do Terreno'] = df_asanorte['Natureza do Terreno'].map(natureza)

In [20]:
df_asanorte

,Natureza do Terreno,Área do Terreno (m²),Valor da Utilização (R$),Área Construída (m²),Data_Ano,CEP_70002906,CEP_70040010,CEP_70040020,CEP_70040031,CEP_70040240,...,Tipo de Imóvel_Autarquia / Fundação,Tipo de Imóvel_Clube,Tipo de Imóvel_Edifício / Prédio,Tipo de Imóvel_Estacionamento,Tipo de Imóvel_Loja,Tipo de Imóvel_Outros,Tipo de Imóvel_Quartel,Tipo de Imóvel_Residência,Tipo de Imóvel_Sala,Tipo de Imóvel_Terreno
7137,0,771.48,208810.93,78.75,1991.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7147,0,132.46,219072.46,136.46,2004.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7148,0,1704.00,219072.46,131.52,2004.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7149,0,1032.00,411985.29,270.82,1998.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7155,0,5520.00,1017888.00,0.00,1978.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18042,0,1175.00,3440024.00,0.00,1981.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18054,0,11000.00,10893739.82,5257.33,2011.00,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18062,0,598.50,146485.82,69.10,1982.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18398,0,1062.50,2350000.00,0.00,1999.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18429,0,1062.50,6558885.14,0.00,1999.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [21]:
df_asanorte.shape

(3220, 315)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import ExtraTreeRegressor

model = ExtraTreeRegressor(random_state=0)

X = df_asanorte.drop(['Valor da Utilização (R$)'], axis=1)
y = df_asanorte['Valor da Utilização (R$)']

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.1, random_state=0)

model.fit(X_train, Y_train)

result = model.predict(X_test)

In [23]:
diff_rel = 0

for i in range(0, Y_test.size-1):
    val1 = Y_test.iloc[i]
    val2 = result[i]
    #para cada valor, calculo quantos porcento a diferença entre o valor real e o previsto, equivale ao valor real
    diff_rel += abs(val1-val2)/val1*100
    if i<10:
        print("Valor Real: {v1} / Valor Previsto:{v2} / Diferença Relativa:{diff}".format(v1=val1, v2=val2, 
        diff=abs(val1-val2)/val1*100))

#printo a média das diferenças relativas
print("\nDiferença Média Relativa: {res}".format(res=diff_rel/Y_test.size))

Valor Real: 1985718.96 / Valor Previsto:2026821.52 / Diferença Relativa:2.069908221050579
Valor Real: 985569.78 / Valor Previsto:985569.78 / Diferença Relativa:0.0
Valor Real: 770479.12 / Valor Previsto:770479.1200000001 / Diferença Relativa:1.5109471341278502e-14
Valor Real: 1138590.42 / Valor Previsto:1131951.0777142865 / Diferença Relativa:0.5831194579797548
Valor Real: 1138590.42 / Valor Previsto:1130291.2421428578 / Diferença Relativa:0.7288993224747293
Valor Real: 770479.12 / Valor Previsto:770479.1200000001 / Diferença Relativa:1.5109471341278502e-14
Valor Real: 372584.48 / Valor Previsto:507901.3939285713 / Diferença Relativa:36.318451570653544
Valor Real: 1396389.72 / Valor Previsto:1396389.72 / Diferença Relativa:0.0
Valor Real: 1189647.06 / Valor Previsto:1134204.855 / Diferença Relativa:4.660391040683955
Valor Real: 1936372.57 / Valor Previsto:1936372.5699999998 / Diferença Relativa:1.2024062272988591e-14

Diferença Média Relativa: 27.2666607494044